beautifulsoup4
certifi==2020.12.5
cffi 
chardet 
click 
cryptography 
dnspython==2.1.0
Flask 
Flask-Cors==3.0.10
idna 
itsdangerous==1.1.0
Jinja2 
MarkupSafe==1.1.1
numpy==1.19.5
pandas==1.1.5
pycparser 
pymongo==3.11.3
pyOpenSSL 
PySocks
python-dateutil==2.8.1
pytz==2021.1
requests 
six 
soupsieve 
urllib3==1.25.8
Werkzeug 
win-inet-pton 
wincertstore==0.2
